@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');

@media screen and (min-width: 320px) {
	body {
		border: 10px solid black;
		margin: 1em;
	}
	.toppings {
		margin-top: 0.7em;
		margin-left: 1em;
	}
	.checkbox {
		display: inline;
		margin-left: 1em;
	}
	#title {
		font-size: 5em;
		text-align: center;
		margin-top: 5%;
		margin-bottom: -1em;
		font-family: 'Vibur', cursive;
	}
	img {
		position: relative;
		top: -1em;
		left: 58%;
		z-index: -1;
		opacity: 0.8;
		transform: scaleX(-1) rotate(30deg);
	}
	legend {
		color: #ED8561;
		font-size: 30px;
		font-family: 'Vibur', cursive;
	}
	* {
		display: block;
		vertical-align: top;
		font-family: 'Gudea', sans-serif;
	}
	input[type="radio"], input[type="checkbox"], label {
		display: inline;
	}
	label::after {
		content: "";
		display: block;
	}
	head {
		display: none;
	}
	input:valid {
		background: white;
	}
	fieldset {
		width: 70%;
		margin-left: 8%;
		margin-top: 3%;
	}
	#darreichnung {
		margin-top: 20em;
		z-index: 3;
		position: relative;
	}
	#liefer {
		margin-bottom: 3%;
	}
	#button {
		margin-left: 30%;
		background-color: #ED8561;
		border: 1px solid #ED8561;
		padding: 5%;
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 1em;
		border-radius: .5em .5em .5em .5em;
	}
	#button:hover {
		opacity: 0.6;
	}
	svg, figure, option {
		display: block;
		margin: 0px;
		padding: 0px;
	}
}

@media screen and (min-width:1024px) {
	#uebersicht {
		position: absolute;
		float: right;
		margin-left: 55%;
		margin-top: 3% !important;
	}
	fieldset {
		width: 35%;
		margin-left: 8%;
		margin-top: 3%;
		z-index: 100;
	}
}